/* Ustawienia dla Accordion */
$accordion-button-active-bg: #00796B;
$accordion-button-active-color: white;

/* Dostosowanie kolorów motywu */
$theme-colors: (
  'primary': #00796B,
  'secondary': #FFD54F,
  'info': #0288D1,
  'danger': #E64A19,
  'success': #388E3C
);

/* Import Bootstrapa, aby zmiany zostały uwzględnione */
@import '~bootstrap/scss/bootstrap';
